<div id="form-add-alliance" class="card block-content">
    <div class="card-body">
        <h5 class="card-title">Agregar Alianza</h5>
        <form novalidate #formAddAlliance="ngForm">
            <div class="form-group">
                <label for="name-alliance">Nombre*</label>
                <input type="text" name="name-alliance" class="form-control" #name="ngModel" [(ngModel)]="alliance.name" required AppAllianceNameExist="" [ngModelOptions]="{updateOn: 'blur'}">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Nombre requerido
                    </div>
                    <div *ngIf="name.errors.AppAllianceNameExist">
                        Este nombre de alianza ya existe
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description-alliance">Descripción*</label>
                <textarea name="description-alliance" class="form-control" #description="ngModel" [(ngModel)]="alliance.description" required
                    maxlength="100"></textarea> Máximo 100 caracteres
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                    <div *ngIf="description.errors.required">
                        Descripción requerida
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="category-alliance">Categoría*</label>
                <select class="form-control" id="category-alliance" name="category-alliance" [(ngModel)]="alliance.typId" #category="ngModel"
                    required>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
                <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                    <div *ngIf="category.errors.required">
                        Categoría requerida
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" id="state-alliance" name="state-alliance" #state="ngModel" [(ngModel)]="alliance.state"> Activo</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="this.submitFormAddAlliance()" [disabled]="formAddAlliance.invalid">Agregar</button>
        </form>
    </div>
</div>