<div class="card block-content">
    <div class="card-body">
        <h4 class="card-title">Cambiar contraseña</h4>
        <p *ngIf="this.changePasswordUser">
            Es necesario que cambie su contraseña antes de continuar.
        </p>
        <form #changePassForm="ngForm" novalidate>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" #password=ngModel ngModel name="password" class="form-control" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">La contraseña es requerida</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Repetir contraseña</label>
                <input type="password" #confirmPassword=ngModel ngModel name="confirmPassword" class="form-control" required [compareEqual]="password.value">
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">La contraseña es requerida</div>
                    <div *ngIf="confirmPassword.errors.compareEqual">
                        Las contraseñas no coinciden
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button [disabled]="!changePassForm.valid" class="btn btn-primary" (click)="changePassword(this.password.value)">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</div>