<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 btn-open-sidenav">
                <span (click)="switchSideBar()">&#9776;</span>
            </div>
            <div class="col-6 col-sm-6">
                <div class="logo">
                    <a routerLink="/nosotros">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Inicio">
                    </a>
                </div>
            </div>
            <div class="col-4 col-sm-6">
                <div class="float-right session-out">
                    <a *ngIf="_ss.isAuthenticated()" (click)="logout()">
                        <i class="fa fa-power-off"></i> Salir
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>