<div class="card block-content">
    <div class="card-body">
        <h5 class="card-title">Usuario no afiliado</h5>
        <form novalidate #formAddAffiliate="ngForm">
            <div class="form-group">
                <label for="product-id">Producto *</label>
                <select class="form-control" id="product-id" name="product-id" ngModel #productId="ngModel" [(ngModel)]="use.productId">
                    <option value="">-- Seleccione una opción --</option>
                    <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
                </select>
                <div *ngIf="productId.invalid && (productId.dirty || productId.touched)" class="alert alert-danger">
                    <div *ngIf="productId.errors.required">
                        Producto requerido
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="convenio-id">Convenio *</label>
                <select class="form-control" id="convenio-id" name="convenio-id" ngModel #agreementId="ngModel" [(ngModel)]="use.agreementId"
                    required>
                    <option value="0">-- Seleccione una opción --</option>
                    <option *ngFor="let agreement of agreements" [value]="agreement.id">{{agreement.name}}</option>
                </select>
                <div *ngIf="agreementId.invalid && (agreementId.dirty || agreementId.touched)" class="alert alert-danger">
                    <div *ngIf="agreementId.errors.required">
                        Convenio requerido
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="quantity">Cantidad *</label>
                <input type="text" name="quantity" class="form-control" #quantity="ngModel" [(ngModel)]="use.quantity" required pattern="[0-9]+"
                    (change)='calculateTotalValue()' ngbTooltip="Hace referencia a la cantidad de noches o cantidad de pasaportes">
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                    <div *ngIf="quantity.errors.required">
                        Cantidad requerida
                    </div>
                    <div *ngIf="quantity.errors.pattern">
                        Solo se permite numeros
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="product-unit-value">Valor unidad*</label>
                <input type="text" name="product-unit-value" 
                ngbTooltip="
                Indique el valor del producto sin descuento,
                 en el caso de alianza cajsa de correspondencia 
                 al valor de la tarifa c
                "
                class="form-control" #productUnitValue="ngModel" [(ngModel)]="use.productUnitValue"
                    required (change)='calculateTotalValue()' pattern="[0-9]+">
                <div *ngIf="productUnitValue.invalid && (productUnitValue.dirty || productUnitValue.touched)" class="alert alert-danger">
                    <div *ngIf="productUnitValue.errors.required">
                        Valor unidad es requerido
                    </div>
                    <div *ngIf="productUnitValue.errors.pattern">
                        Solo se permite numeros
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="total-value">Valor Total*</label>
                <input type="text" name="total-value" class="form-control" #totalValue="ngModel" [(ngModel)]="use.totalValue" required pattern="[0-9]+"
                    (change)='calculateDiscountValue()' disabled>
                <div *ngIf="totalValue.invalid && (totalValue.dirty || totalValue.touched)" class="alert alert-danger">
                    <div *ngIf="totalValue.errors.required">
                        Valor total es requerido
                    </div>
                    <div *ngIf="totalValue.errors.pattern">
                        Solo se permite numeros
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="paid-value">Valor pagado*</label>
                <input type="text" name="paid-value"
                ngbTooltip="
                Indique el valor que paga el afiliado con el descuento o beneficio, en el caso de alianza cajas la tarifa de la categoria de afiliacion
                "
                class="form-control" #paidValue="ngModel" [(ngModel)]="use.paidValue" required pattern="[0-9]+"
                    (change)='calculateDiscountValue()'>
                <div *ngIf="paidValue.invalid && (paidValue.dirty || paidValue.touched)" class="alert alert-danger">
                    <div *ngIf="paidValue.errors.required">
                        Valor pagado requerido
                    </div>
                    <div *ngIf="paidValue.errors.pattern">
                        Solo se permite numeros
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="discount-value">Valor descuento *</label>
                <input type="text" name="discount-value" class="form-control" #discountValue="ngModel" [(ngModel)]="use.discountValue" required
                    disabled>
                <div *ngIf="discountValue.invalid && (discountValue.dirty || discountValue.touched)" class="alert alert-danger">
                    <div *ngIf="discountValue.errors.required">
                        Descuento requerido
                    </div>
                    <div *ngIf="paidValue.errors.pattern">
                        Solo se permite numeros
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name-affiliate">Nombre*</label>
                <input type="text" name="name-affiliate" class="form-control" #name="ngModel" ngModel required [(ngModel)]="use.nameAffiliate">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Nombre requerido
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="type-document-affiliate">Tipo documento*</label>
                <select class="form-control" name="type-document-affiliate" #docType="ngModel" ngModel required [(ngModel)]="use.docTypeAffiliate">
                    <option *ngFor="let typeDocument of typeDocuments" [value]="typeDocument.typeDocument">{{typeDocument.nameDocument}}</option>
                </select>
                <div *ngIf="docType.invalid && (docType.dirty || docType.touched)" class="alert alert-danger">
                    <div *ngIf="docType.errors.required">
                        Tipo de documento requerido
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="document-affiliate">Documento*</label>
                <input type="text" name="document-affiliate" class="form-control" #docNum="ngModel" ngModel required [(ngModel)]="use.docNumAffiliate"
                    pattern="[0-9]+">
                <div *ngIf="docNum.invalid && (docNum.dirty || docNum.touched)" class="alert alert-danger">
                    <div *ngIf="docNum.errors.required">
                        Documento requerido
                    </div>
                    <div *ngIf="docNum.errors.pattern">
                        Solo se permite numeros
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="this.submitFormAddAffiliate(formAddAffiliate.value)" [disabled]="formAddAffiliate.invalid">Registrar uso</button>
        </form>
    </div>
</div>