<div id="form-product-search" class="card block-content">
    <div class="card-body">
        <h5 class="card-title">Filtros</h5>
        <form #formSearchProducts="ngForm" novalidate name="form-search-products">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="product">Producto</label>
                        <input type="text" class="form-control" id="product" name="product" ngModel [(ngModel)]="productName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="product-state">Estado</label>
                    <select class="form-control" name="product-state" [(ngModel)]="productState" ngModel>
                        <option value="">-- Seleccione una opción --</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="this.submitformSearchProducts()"
                [disabled]="formSearchProducts.invalid">Buscar</button>
        </form>
    </div>
</div>

<div id="result-products" class="card block-content">
    <div class="card-body">
        <h5 class="card-title">Resultados</h5>
        <div *ngIf="totalProducts < 1">No hay resultados</div>
        <div class="table-responsive" *ngIf="totalProducts > 0">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th class="col-md-5">Producto</th>
                        <th class="col-md-4">Estado</th>
                        <th class="col-md-3">Asociar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsReport.productList">
                        <td class="col-md-5">{{product.name}}</td>
                        <td class="col-md-4">{{product.state ? 'Activo' : 'Inactivo'}}</td>
                        <td class="col-md-3">
                            <label>
                                <input type="checkbox" id="state-product" name="state-product" [checked]="ProductsSelected.includes(product.id)" (click)="this.updateAllianceProducts(product.id, $event)"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination class="d-flex justify-content-center" [maxSize]="5" [pageSize]="count" [collectionSize]="productsReport.count" [(page)]="page" (pageChange)="loadPage($event)"></ngb-pagination>
        <a routerLink="/alianzas/listar" class="btn btn-primary">
            Confirmar
        </a>
    </div>
</div>